/* line 74, icons/*.png */
.icons-sprite {
  background: url('../images/icons-sdaf092d5c4.png') no-repeat; }

/* line 6, ../../src/sass/main.sass */
body {
  background: #ffe250;
  font-family: "Arial", "sans-serif"; }
