/* line 1, C:/Users/Vlad/Desktop/psd2html-boilerplate/src/sass/main.sass */
body {
  width: 100%; }

/* line 4, C:/Users/Vlad/Desktop/psd2html-boilerplate/src/sass/main.sass */
.das {
  width: 60px;
  height: 500px; }
